$palette-red: #ff0000;
$palette-violet: #6a00ff;
$palette-background: #800000; // FIXME: Make it lighter; the contrast rn is too much.
$responsive-mob: 594px;

// Disable Highlight Selection

@mixin removeSelection() {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Old Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Chrome, Opera and Firefox
}

// Home: Box Buttons

@mixin bebas-font() {
  font-family: "Bebas Neue", cursive;
  font-size: 3.646vw;
}

// ----------------------------
