$palette-red: #ff0000;
$palette-violet: #6a00ff;
$palette-black: #020202; // FIXME: Make it lighter; the contrast rn is too much.
$responsive-mob: 594px;

// Disable Highlight Selection

@mixin removeSelection() {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Old Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Chrome, Opera and Firefox
}

// Home: Box Buttons

@mixin trippybox() {
  background-color: $palette-red;
  color: #6a00ff;

  height: 9.6vh;

  line-height: 10.353vh;

  font-family: "Bebas Neue", cursive;
  font-size: 3.646vw;

  box-shadow: -12px 10px $palette-violet;

  cursor: pointer;

  @media (max-width: 594px) {
    font-size: 46px;
    line-height: 9.7vh;
  }
}

// ----------------------------
