@import "src/styles/variables.scss";

.hideit {
  background-color: green;
}

.home_buttons_div {
  position: fixed;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 50.5vh;

  margin-left: 8.29vw;
  margin-top: 25.69vh;

  width: 19vw;

  text-align: center;

  @include removeSelection();

  @media (max-width: $responsive-mob) {
    position: fixed;
    margin-left: 0px;
    margin-top: 1vh;
    justify-content: space-evenly;
    height: 250px;

    // Button Width Control
    width: 70vw;
  }
}
