@import "src/styles/variables.scss";

// for scroll sections on mobile.
div.hideit {
  position: fixed;
  @media (max-width: $responsive-mob) {
    height: 330px;
    width: 100vw;
    margin: auto;
    background-color: $palette-background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.home_buttons_div {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  height: 50.5vh;
  margin-left: 8.29vw;
  margin-top: 25.69vh;

  width: 15vw;
  transform: scale(1.3);
  text-align: center;

  @include removeSelection();

  @media (max-width: $responsive-mob) {
    margin-left: 0px;
    margin-top: 0px;
    height: 250px;

    // Button Width Control
    width: 50vw;
  }
}
