@import "src/styles/variables.scss";

div.hideit {
  position: fixed;
  @media (max-width: $responsive-mob) {
    height: 280px;
    width: 100vw;
    background-color: $palette-black;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
}

.home_buttons_div {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 50.5vh;
  margin-left: 8.29vw;
  margin-top: 25.69vh;

  width: 19vw;

  text-align: center;

  @include removeSelection();

  @media (max-width: $responsive-mob) {
    margin-left: 0px;
    margin-top: 1vh;
    justify-content: space-evenly;
    height: 250px;

    // Button Width Control
    width: 65vw;
  }
}
