@import "src/styles/variables.scss";

@media (min-width: $responsive-mob+1) {
}

.each-btn {
  @include trippybox();
  //transition: transform linear 0.1s, box-shadow linear 0.1s;
  position: relative;

  @media (max-width: $responsive-mob) {
    box-shadow: none;
    border: 3px solid $palette-violet;
    margin-top: 9.5px;
  }
}

div.animate-button {
  animation: button-click-desktop 0.2s;

  @media (max-width: $responsive-mob) {
    animation: button-click-mobile 1s;
  }
}

// FIXME: Make it Better.
@keyframes button-click-desktop {
  30% {
    box-shadow: none;
    transform: translate(-12px, 10px);
    animation-timing-function: cubic-bezier(0.57, 0.63, 0.71, 1.09);
  }
  100% {
    box-shadow: -12px 10px;
  }
}

@keyframes button-click-mobile {
  30% {
    background-color: $palette-violet;
    border-color: $palette-red;
    color: $palette-red;
  }
  100% {
    background-color: $palette-red;
    border-color: $palette-violet;
    color: $palette-violet;
  }
}

.default-1,
.default-2,
.default-3 {
}
